.student {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  border-bottom: 0.8px solid rgb(233, 233, 233);
}

.imgBox {
  order: 0;
  width: 140px;
  height: 140px;
}
.imgBox img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 19px;
  left: 19px;
  border-radius: 100%;
  border: 1px solid rgb(202, 202, 202);
}

.infoBox {
  order: 1;
  width: calc(100% - 200px);
  height: 120px;
  margin-top: 1em;
}
.studentName {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.otherInfo {
  padding-left: 15px;
  font-size: 0.75em;
}

.toggleGrades {
  order: 2;
  margin-top: 1em;
  width: 60px;
  height: 60px;
}
.toggleGrades button {
  width: 60px;
  height: 60px;
  border: none;
  color: grey;
  background-color: white;
}
.toggleGrades button:hover {
  cursor: pointer;
  color: black;
}

.GradesView {
  order: 3;
  padding-left: 155px;
  margin-bottom: 1em;
  font-size: 0.75em;
}
